modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "typecheck-mobile"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "typecheck-dashboard"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "typecheck-admin-portal"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "typecheck-website"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "typecheck-api"

[[workflows.workflow]]
name = "typecheck-mobile"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/mobile run typecheck"

[workflows.workflow.metadata]
isValidation = true

[[workflows.workflow]]
name = "typecheck-dashboard"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/dashboard run typecheck"

[workflows.workflow.metadata]
isValidation = true

[[workflows.workflow]]
name = "typecheck-admin-portal"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/admin-portal run typecheck"

[workflows.workflow.metadata]
isValidation = true

[[workflows.workflow]]
name = "typecheck-website"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/website run typecheck"

[workflows.workflow.metadata]
isValidation = true

[[workflows.workflow]]
name = "typecheck-api"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/api-server run typecheck"

[workflows.workflow.metadata]
isValidation = true

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
LIS_USE_SANDBOX_API = "true"
LIS_LIP_REDIRECT_URL = "https://api.bdefarmtrac.co.uk/api/lis/callback"
LIS_LIP_API_BASE = "https://api.service.livestockinformation.org.uk"
LIS_LIP_API_URL_SANDBOX = "https://sandbox.movement.api.livestockinformation.org.uk/lis-public-sdbx/v1.0"
LIS_LIP_B2C_AUTHORITY_SANDBOX = "https://livestockinformationb2cprod.b2clogin.com/tfp/livestockinformationb2cprod.onmicrosoft.com/B2C_1A_THIRDPARTY_SIGNIN/v2.0"
LIS_LIP_SCOPE_SANDBOX = "https://livestockinformationb2cprod.onmicrosoft.com/ms-apimlisapisdbx/user_impersonation"
LIS_LIP_REDIRECT_URI = ""

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 18115
externalPort = 3002

[[ports]]
localPort = 19161
externalPort = 3001

[[ports]]
localPort = 23183
externalPort = 80

[[ports]]
localPort = 25580
externalPort = 3000
